* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* span{
    color: #837E9F;
}

* p{
    color: #837E9F;
    font-weight: 400;
}

:root {
    --body-bg-color: #22212C;
    --text-color: #837E9F;
    --bg-cards: #302F3D;
    --bg-techs: #CB92B1;
    font-size: 62.5%;
  }

html {
    margin: 0;
    padding: 0;
    height: 100vh;
}

body {
    background-color: #22212C;
    font-family: "Merriweather Sans", sans-serif;

    display: grid;
    grid-template-areas: "aside main";
    grid-template-rows: 1fr;
    grid-template-columns: 45rem 1fr;

    height: 100vh;
}

aside {
    grid-area: aside;

    width: fit-content;
}

main {
    grid-area: main;

    display: flex;
    flex-direction: column;
}

.profile-info{
    width: 34.8rem;
    margin: 2.1rem 6.5rem 1rem 4rem;
    background-color: #302F3D;
    
    display: flex;
    flex-direction: column;
    align-content: space-between;

    border-radius: 2rem;
    box-shadow: 0.4rem 0.35rem rgb(29, 28, 28);
}

#profile-photo{
    margin-top: 5.2rem;
    height: 29.2rem;
    padding: 3.2rem 0rem;

    align-items: center;
}

#profile-photo #user-name{
    font-size: 2.08rem;
    font-weight: 700;
    margin-top: 2rem;
}

#profile-photo #user-job{
    font-size: 1.3rem;
    font-weight: 400;
    margin-top: 0.8rem;
}

#profile-photo img{
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 50%;

  
    border: 0.3rem solid transparent;
    background: #00FF00;
}

#social-media {
    height: 34.8rem;
    padding: 2.5rem 3.5rem;
}

#social-media ul li{
    color: #837E9F;
    font-weight: 500;
    font-size: 1.3rem;

    list-style-type: none;
}

#social-media img{
    margin: 1.2rem 1.8rem 0rem 0rem;
}

#technologies {
    height: 20.8rem;
    padding: 2.5rem 2rem;
}

#technologies span{
    color: #837E9F;
    font-weight: 700;
    font-size: 2.1rem;

    margin-bottom: 2rem;
}

#technologies p {
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;

    width: 8.6rem;
    height: 2.4rem;
    border-radius: 1.9rem;
    background-color: #CB92B1;

    display: flex;    
    justify-content:center;
    align-items: center;
}

#technologies div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-items: center;
    justify-content: center;

    gap: 1.5em;
}

#experiences {
    height: 29.5rem;
    padding: 2.5rem 2rem;
}

#experiences span {
    color: #837E9F;
    font-weight: 700;
    font-size: 2.1rem;

    margin-bottom: 0.3rem;
}

#experiences ul li {
    color: #837E9F;
    font-weight: 700;
    font-size: 1.3rem;

    margin: 1.7rem 0 0 4.5rem;
}

#education {
    height: 28.5rem;
    padding: 2.5rem 2rem;
}

#education span{
    color: #837E9F;
    font-weight: 700;
    font-size: 2.1rem;
}

#education ul li {
    color: #837E9F;
    font-weight: 700;
    font-size: 1.3rem;

    margin: 1.7rem 0 0 4.5rem;
}

#projects-section {
    grid-area: projects-section;
}

#posts-section {
    grid-area: posts-section;
}

.profile-activities {
    width: 95.2rem;
    height: 8.6rem;
    padding: 0 2.5rem;
    background-color: #302F3D;

    border-radius: 2rem;
    box-shadow: 0.4rem 0.35rem rgb(29, 28, 28);

    display: flex;
    align-items: center;
}

#profile-projects {
    margin-top: 5.2rem;
    font-size: 2.08rem;
    font-weight: 700;

    justify-content: space-between;
}

#profile-projects a {
    font-size: 1.5rem;
    font-weight: 400;
    color: #837E9F;
    text-decoration: none;
}

#profile-projects a:hover {
    color: #8576db;
}

#main-projects {
    height: 18.6rem;
    width: 46.1rem;
    background-color: #302F3D;
}

#profile-posts {
    margin-top: 2.5rem;
    font-size: 2.08rem;
    font-weight: 700;

    display: flex;
    align-content: center;
}